.user-name {
    text-align: center;
    font-size: 50px;
}

.bands {
    font-size: 30px;
}

.not-included {
    text-decoration: line-through;
}

.section {
    background-color: green;
    color: white;
}

.details-list {
    font-size: 25px;
}